<ion-header>
  <ion-toolbar>
    <ion-title>usersList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink='/tab/users/new'><ion-icon name="person-add-outline"></ion-icon></ion-button>
  <h2>Liste des utilisateurs</h2>
  
  <ion-grid>
    <ion-row *ngFor="let user of users" >
      <ion-col size="4" >
        <ion-list [routerLink]="['/tab/users', user.id]">
          <ion-item>
            <img [src]="user.avatar" [alt]="user.userName">  
          </ion-item>
          <ion-item>
            {{ user.userName }}
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="8">
        <ion-list>
          <ion-item>{{ user. firstName }}</ion-item>
          <ion-item>{{ user.lastName }}</ion-item>
          <ion-item>{{ user.age }} ans</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
