<ion-header>
  <ion-toolbar color="danger">
    <ion-button routerLink="/tab/users">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Member Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-button (click)="setModif()">Rendre Modifiable</ion-button>  
      <ion-button (click)="onDelete(user.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
 
  
  
  <div *ngIf="!modif">
    <ion-grid *ngIf="user">

      <ion-row>
        <ion-col size="12">
          <ion-card class="ion-text-center">
            <ion-row>
              <ion-card-header>
                <img [src]="user.avatar" id="img">
              </ion-card-header>
            </ion-row>
            <ion-row>
              <ion-card-content>
                <strong>Username: </strong>
                {{user.userName}} <br>
                <strong>First name</strong>
                {{user.firstName}} <br>
                <strong>Last name: </strong>
                {{user.lastName}} <br>
                <strong>Age: </strong>
                {{user.age}} <br>
                <strong>Job: </strong>
                {{user.job}} <br>
                <strong>Street: </strong>
                {{user.street}} <br>
                <strong>City: </strong>
                {{user.city}} <br>
                <strong>ZipCode: </strong>
                {{user.zipCode}} <br>
              </ion-card-content>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="modif && user">
    <ion-item>
      <ion-label>Avatar</ion-label>
      <ion-input type="text" [(ngModel)]="user.Avatar"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" [(ngModel)]="user.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>First name</ion-label>
      <ion-input type="text" [(ngModel)]="user.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last name</ion-label>
      <ion-input type="text" [(ngModel)]="user.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Age</ion-label>
      <ion-input type="text" [(ngModel)]="user.age"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Job</ion-label>
      <ion-input type="text" [(ngModel)]="user.Job"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Street</ion-label>
      <ion-input type="text" [(ngModel)]="user.Street"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>City</ion-label>
      <ion-input type="text" [(ngModel)]="user.City"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>ZipCode</ion-label>
      <ion-input type="text" [(ngModel)]="user.ZipCode"></ion-input>
    </ion-item>
    <p class="text-center">
      <ion-button (click)="onModif()">Modifier</ion-button>
    </p>
  </div>
</ion-content>
